<h4> <%= !@beer || @ingredient.beers.count > 1 ? "Also found in:" : "#{@beer.name} is our only beer with this ingredient." %> </h4>
<% @ingredient.beers.each do |beer| %>
  <% if beer != @beer %>
    <%= render partial: 'beers/beer', locals: {beer: beer} %>
  <% end %>
<% end %>
