<%= form_for @beer do |f| %>
  Amount <input name="beer[ingredient_attributes][][amount]"><br>
  Name <input name="beer[ingredient_attributes][][name]"><br>
  Origin <input name="beer[ingredient_attributes][][origin]"><br>
  Kind
  <select name="beer[ingredient_attributes][][kind]">
    <% ingredient_kinds.each do |kind| %>
      <option value="<%= kind %>"><%= kind %></option>
    <% end %>
  </select>
  <br>
  <%= f.submit %>
<% end %>
